@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Petit+Formal+Script&display=swap');

.font1{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.subtitle1{
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
  /* font-size:10px; */
}
.roboto {
  font-family: "Roboto Condensed";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}